*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #e5e5e5;
}

.main-container{
  width: 550px;
  font-family:"Inter",sans-serif;
  margin:10px auto;
  
}
.card-list{
  background-color: white ;
  /* margin-top: 0; */
  padding-top: 45px;
  
}

nav{
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
nav *{
  margin: 0;
}
nav img{
  width:4.36%;
  height: 43.6%;
  margin-right: 10px;
}

nav p{
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  line-height: 17.5px;

}

.card-container{
  display: flex;
}

.location{
  font-weight: 400;
  font-size: 0.64rem;
  line-height: 12.39px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.common-text{
  color: #918E9B;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12.39px;
}
.title{
  font-weight: 700;
  font-size: 25px;
  line-height: 30.26px;
  color: #2B283A;
}

.date{
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12.39px;
  color: #2B283A; 
}
.description{
  font-weight: 400;
  font-size: 10.24px;
  line-height:15.36px;
  color: #2B283A;
}

.card-container{
  /* margin-left: 40px; */
  padding-left: 40px;
  padding-bottom: 20px;
  /* box-shadow:0px 1px 0px 0px rgba(0,0,0,0.47); */
  /* margin-bottom: 18px; */


  
}
.text-container{
  margin-left:19px ;
  padding-top: 19px;

}

.map-logo{
  margin-right:4px ;
}
.location{
  margin-right: 12px;
}
.title{
  margin-top: 7px;
  margin-bottom: 10px;
}
.description{
  width: 326px;
}

hr{
  width: 478px;
height: 0px;
/* top: 286px;
left: 40px; */
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #F5F5F5;
margin-bottom: 25px;
margin-top: 5px;
}

